<tr class="text-[10px] md:text-sm">
    <th>{{ todo.id }}</th>
    <td>{{ todo.title }}</td>
    <td>
        {% if todo.status %}
        ✅
        {% else %}
        ❌
        {% endif %}
    </td>
    <td class="flex justify-center gap-2">
        <a class="text-xs md:text-sm badge badge-primary p-3 md:p-4 hover:scale-[1.1] cursor-pointer"
            hx-get="/edit/{{ todo.id }}" hx-target="body" hx-swap="beforeend">
            <img class="w-4 md:w-5" src="/assets/img/edit_icon.svg" alt="edit icon">
            &nbsp;&nbsp;&nbsp;Edit
        </a>
        <button hx-swap="transition:true" hx-delete="/todo/delete/{{ todo.id }}"
            hx-confirm="Are you sure you want to delete the task with ID #{{ todo.id }}?" onClick="this.addEventListener('htmx:confirm', (e) => {
                    e.preventDefault()
                    Swal.fire({
                        title: `${e.detail.question}`,
                        icon: 'question',
                        background: '#1D232A',
                        color: '#A6ADBA',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33'
                    }).then((result) => {
                        if(result.isConfirmed) e.detail.issueRequest(true);
                    })
                })" hx-target="body" class="text-xs md:text-sm badge badge-error p-3 md:p-4 hover:scale-[1.1]">
            <img class="w-4 md:w-5" src="/assets/img/delete_icon.svg" alt="delete icon">
            &nbsp;&nbsp;&nbsp;Delete
        </button>
    </td>
</tr>