{% extends "layout/base.html" %}

{% block content %}

<section class="flex flex-col items-center justify-center h-[100vh] gap-4">
    <div class="items-center justify-center flex flex-col gap-4">
        <h1 class="text-9xl font-extrabold text-gray-700 tracking-widest">
            404
        </h1>
        <h2 class="bg-rose-700 px-2 text-sm rounded rotate-[20deg] absolute">
            Resource not found
        </h2>
    </div>
    <p class="text-xs text-center md:text-sm text-gray-400">
        The requested resource could not be resolved.
    </p>

    <span class="text-xs text-secondary font-semibold text-wrap text-center w-4/5 mb-8">
        Reason: {{ reason }}
    </span>

    <a hx-swap="transition:true" href="{{ link }}" class="btn btn-secondary btn-outline">
        {% if link == "/" %}
        Go Back Home Page
        {% else %}
        Go Todo List Page
        {% endif %}
    </a>
</section>

{% endblock content %}