<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <meta name="description" content="Full stack application using Rust's Axum framework + Askama & Htmx">
    <title>Todo List | {{ title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" href="/assets/img/rust_ferris_logo.svg" type="image/svg+xml">
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/hyperscript.min.js"></script>
    <script src="/assets/js/sweetalert2.min.js"></script>
</head>

<body class="sample-transition" hx-boost="true">
    <header>
        {% if !is_error %}
        {% include "partials/navbar.html" %}
        {% endif %}
    </header>

    <main {% if !is_error %} class="pt-[116px] md:pt-40" {% endif %}>
        {% block content %}{% endblock content %}

        {% include "partials/messages.html" %}
    </main>

    {% include "partials/footer.html" %}
</body>

</html>